{{- define "main" }}
  <section class="taxonomy">
    <h1>{{ .Page.Title }}</h1>
    <ul>
      {{- range  sort .Site.Taxonomies.categories "Count" "desc" }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title  | strings.ToUpper }} - {{ .Count }}</a></li>
      {{- end }}
      {{- range  sort .Site.Taxonomies.series "Count" "desc" }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title  | strings.ToUpper }} - {{ .Count }}</a></li>
      {{- end }}
      {{- range  sort .Site.Taxonomies.tags "Count" "desc" }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title  | strings.ToUpper }} - {{ .Count }}</a></li>
      {{- end }}
    </ul>
  </section>
{{- end }}
